{% extends "base.html" %}

{% block title %}AI Quiz{% endblock %}

{% block content %}

<div class="dashboard-container">

    <div class="page-head">
        <div>
            <h1>🧠 AI Quiz Generator</h1>
            <p>Generate quizzes using Gemini AI and test your knowledge.</p>
        </div>
    </div>

    <div class="dashboard-card">

        <div class="form-group">
            <label>Topic</label>

            <input
                type="text"
                id="quiz-topic"
                class="form-control"
                placeholder="Example: Python, DBMS, Java, AI"
            >
        </div>

        <br>

        <div class="form-group">

            <label>Difficulty</label>

            <select
                id="quiz-difficulty"
                class="form-control">

                <option>Beginner</option>
                <option>Intermediate</option>
                <option>Advanced</option>

            </select>

        </div>

        <br>

        <button
            id="generate-btn"
            class="btn btn-primary">

            🚀 Generate AI Quiz

        </button>

    </div>


    <div
        id="quiz-box"
        class="dashboard-card mt-20"
        style="display:none;">

        <h2 id="question-title"></h2>

        <div id="options-container"></div>

        <br>

        <button
            id="next-btn"
            class="btn btn-success">

            Next

        </button>

    </div>


    <div
        id="result-box"
        class="dashboard-card mt-20"
        style="display:none;">

        <h2>🎉 Quiz Completed</h2>

        <h3 id="final-score"></h3>

        <button
            class="btn btn-primary"
            onclick="location.reload()">

            Generate New Quiz

        </button>

    </div>

</div>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
{% endblock %}